@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* postcss-disable-next-line */

/* css-disable-next-line */
@tailwind base;
/* css-disable-next-line */
@tailwind components;
/* css-disable-next-line */
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}
